/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;

$header-height:95vh;
$block-disp:block;
$absolute-pos:absolute;
$fourty-px:40px;


@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1; 
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity: 1; 
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1; 
        transform: translate(0);
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin font-param{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}
body {
   @include font-param; 
}
@mixin background-header{
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img//hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(x y, x y, x y, x y); */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
}
.header {
    height: $header-height;
    @include background-header;
    

    .header__logo-box {
        position: $absolute-pos;
        top: $fourty-px;
        left: $fourty-px;

        .header__logo {
            height: $fourty-px;
        }
    }
%animation-transition{
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@mixin heading-main{
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

}

@mixin header-txt-div{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@mixin heading-primary-txt{
    text-transform: uppercase;
            margin-bottom: 60px;
}

@mixin heading-sub{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17px;
}


%button{
    text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
}

@mixin translate-hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

@mixin translate-active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

@mixin btn-after{
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 100px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all .4s;
}

@mixin btn-hover-after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@mixin btn-animation{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

    .header__text-box {
        position: $absolute-pos;
        @include header-txt-div;
        @include heading-primary-txt;
        
        .heading-primary{
            color:$color-white;
            

            .heading-primary--main{
                display: $block-disp;
                @include heading-main;
                animation-name: moveInLeft;
                @extend %animation-transition;
            }


            .heading-primary--sub{
                display: $block-disp;
                @include heading-sub;
            
                animation-name: moveInRight;
                @extend %animation-transition;
            }
        }


        .btn{
            @extend %button;
            
            &:visited {
                @extend %button;
            }
        
            &:hover{
                @include translate-hover;
            }
        
            &:active{
                @include translate-hover;
            }

            &::after {
              @include btn-after;  
            }

            &:hover::after{
                @include btn-hover-after;
            }
        }

        .btn--white{
            background-color: $color-white;
            color: $color-grey-dark;
        
            &::after{
                background-color: $color-white;
            }
        }
        
        
        .btn--animated {
            @include btn-animation;
        }

    }
}









